@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Rubik-Regular"),
    url("./assets/Fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Rubik-Medium"),
    url("./assets/Fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Rubik-Bold"),
    url("./assets/Fonts/Rubik-Bold.ttf") format("truetype");
}

html:lang(ar) {
  direction: rtl;
}

.MenuSide a.active {
  background: #fff;
  padding: 7px 0;
  padding-right: 20px;
  border-radius: 0 12px 12px 0;
  color: red !important;
}

.MenuSide a.active>svg {
  color: red !important;

}