@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Rubik-Regular"),
    url("./assets/Fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Rubik-Medium"),
    url("./assets/Fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Rubik-Bold"),
    url("./assets/Fonts/Rubik-Bold.ttf") format("truetype");
}

.directionAR {
  direction: rtl;
}


/* width Scroll*/
.scrollSec::-webkit-scrollbar {
  width: 5px;
}

/* Track Scroll */
.scrollSec::-webkit-scrollbar-track {
  background: #f1f1f19d;
  border-radius: 10px;
}

/* Handle Scroll*/
.scrollSec::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 10px;
}


.LinksProfile a.active {
  position: relative;
  color: #D01025;
  padding-bottom: 1.2rem;
}

.LinksProfile a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background: #D01025;
}

.LinksSidebar a.active {
  position: relative;
}

.LinksSidebar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 6px;
  border-radius: 0px 10px 10px 0px;
  background: #D01025;
}

.listUser {
  list-style: inside !important;
}

.LinksHomeDS a.active {
  color: #D01025 !important;
  font-weight: bold;
}

.MenuSide a.active {
  padding-right: 20px;
  border-radius: 0 12px 12px 0;
  background: #fff;
  color: red !important;
  transition: all 0.3s ease-in-out;
}

.contentSection {
  position: absolute;
  top: 0;
  left: 1%;
  border-radius: 0 15px 15px 0;
  background: #fff;
}