@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Rubik-Regular"),
    url("./assets/Fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Rubik-Medium"),
    url("./assets/Fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Rubik-Bold"),
    url("./assets/Fonts/Rubik-Bold.ttf") format("truetype");
}

.directionAR {
  direction: rtl;
}

.LinksHomeDS a.active {
  color: #D01025 !important;
  font-weight: bold;
  /* transition: all 0.3s ease-in-out; */
}

.MenuSide a.active {
  padding-right: 20px;
  border-radius: 0 12px 12px 0;
  background: #fff;
  color: red !important;
  transition: all 0.3s ease-in-out;
}
/* .TapAuth a.active {
  padding-right: 20px;
  border-radius: 0 12px 12px 0;
  background: #fff;
  color: red !important;
  transition: all 0.3s ease-in-out;
} */

.contentSection {
  position: absolute;
  /* height: 100%; */
  top: 0;
  left: 1%;
  border-radius: 0 15px 15px 0;
  background: #fff;
  /* padding: 20px;
  padding-top: 0; */
}

/*
.childSection::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2%;
  width: 10%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 13px 13px 0;
  z-index: 1;
} */